:root {
    --blue: #3EA1DB;
    --blue-dark: #574AE8;

    --white: #FFF;
    --title: #313131;

    --text: #B6B6B6;
    --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

@font-face {
    font-family: LexendDeca;
    src: local("LexendDeca-Regular"),
         url(./fontes/LexendDeca-Regular.ttf);
  }

:is(title, h2, h3) {
    color: var(--title);
}

p {
    color: var(--text);
}
header {
    background-image: var(--linear);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
}

header > .nav {
    position: relative;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: space-between;
}

.nav > h3 {
    font-size: 24px;
    color: var(--white);
    font-family: 'LexendDeca';
}

.nav > .input {
    width: 100%;
    height: 65px;
    border: none;
    padding: 0 20px;
    font-size: 22px;
    line-height: 22px;  
    color: var(--white);
    border-radius: 10px;
    margin: 70px 0 0 0 ;
    background-color: rgba(255, 255, 255, .1);
}

.nav > .input::placeholder {
    color: var(--white);
}

.nav > input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

main {
    background-color: #F3F5F7;
}

.posts {
    display: flex;
    border: none;
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    flex-direction: column;
    align-items: center;
}

.post {
    padding: 20px;
    min-width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'LexendDeca';
    background-color: var(--white);
}

.post > .post-header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.post > h2 {
    font-size: 26px;
    line-height: 32,5px;
    margin: 22px 0 8px 0;
}

.post > p {
    font-size: 18px;
    line-height: 32px;
}

@media screen and (max-width: 480px) {

    .nav > h3 {
        font-size: 22px;
    }

    .nav > .input {
        font-size: 20px;
    }

    .post > .post-header {
        font-size: 14px;
    }

    .post > h2 {
        font-size: 24px;
        line-height: 30,5px;
        margin: 22px 0 8px 0;
    }

    .post > p {
        font-size: 16px;
        line-height: 30px;
    }
}